ConfigFile/ConfigurationFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cd="urn:cd-schema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:basware-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Basware">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Node"  maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TestGroup" type="xs:string" />
                    <xs:element name="Browser" type="xs:string" />
                    <xs:element name="LoginUrl" type="xs:string" />
                    <xs:element name="AdminUserName" type="xs:string" />
                    <xs:element name="AdminPassword" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>